@import "../config.css";
body {
    background-color: rgb(245, 169, 192);
    
}
// input size
.input-xm{
    height: 36px;
}
.input-sm {
    height: 38px;
}
.input-md{
    height: 48px;
}
.input-lg{
    height: 52px;
}

.input-sizing {
    box-sizing: border-box;
    width: 100%;
    min-width: 230px;
    font-size: var(--fs-body2);
}


// input search main
.input-search1 {
    padding: 0 35px 0 50px;
    border: var(--color-white-default) solid var(--bw-3);
    border-radius: var(--br-3);
    & ::-webkit-input-placeholder { 
        color:  var(--color-gray-darken6);
     }
    & input:focus::-webkit-input-placeholder { 
        color:  var( --color-gray-darken2);
     }
}
.input-search1:hover {
    border: var(--color-brown-default) solid var(--bw-3);
}
.input-search1:focus {
    border: var(--color-brown-default) solid var(--bw-3);
    outline: none;
}
::-webkit-input-placeholder { 
    color:  var(--color-gray-darken6);
 }
 input:focus::-webkit-input-placeholder { 
    color:  var( --color-gray-darken2);
 }

 // input mail sign in
.input-mail1 {
    padding: 7px;
    margin-right: var(--m-xs);
    border: var(--color-gray-darken1) solid var(--bw-3);
    border-radius: var(--br-3);
    cursor: pointer;
    box-sizing: border-box;
}
.input-mail1:focus {
    border: var(--color-secondary-default) solid var(--bw-3);
    box-shadow: 0 0 0 3px rgba(0, 113, 194, 0.2);
    outline: none;
}
 // input mail subscribe
.input-mail2 {
    padding: 10px;
    border: var(--color-white-default) solid var(--bw-3);
    border-radius: var(--br-2);
    cursor: pointer;
}

// input search 
.input-search2 {
    border-radius: var(--br-3);
    padding: 8px 8px 8px 35px;
    border: var(--color-white-default) solid var(--bw-3);
}

.search::-webkit-clear:hover{
    display: none;
}

