@import '../../config.css';
.img {
  &-fluid {
    max-width: 100%;
    height: auto;
  }
  &-xxl {
    height: 320px;
  }
  &-xl {
    height: 270px;
    border-radius: var(--br-2);
  }
  &-lg {
    height: 240px;
    border-radius: var(--br-3);
  }
  &-md {
    height: 200px;
    border-radius: var(--br-3);
  }
  &-sm {
    height: 170px;
    border-radius: var(--br-3);
  }
  &-xs {
    height: 135px;
    border-radius: var(--br-6);
  }
  &-xxs {
    height: 110px;
    border-radius: var(--br-6);
  }
  &-hover {
    &-border:hover {
      border: 1px solid var(--color-warning-lighten1);
    }
    &-shadow-top {
    }
    &-text-change {
    }
  }
  &-container {
    position: relative;
    color: var(--color-white-default);
  }
  &-text {
    &-top {
      position: absolute;
      top: 16px;
      left: 16px;
    }
    &-bottom {
      position: absolute;
      bottom: 16px;
      left: 16px;
    }
  }
}
