@import '../../config.css';

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3 {
  display: block;
}

.tabs{
  font-size: 0;

  input[type="radio"]{
    display: none;
  }

  .border-line{
    border-top: 1px solid var(--color-secondary-default);
  }

  div {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 10px 15px;
    font-size: 16px;
  }

  .tabs-item {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: var(--cursor-pointer);
    position: relative;
  }

  .tabs-item:not(:first-of-type){
    border-left: none;
  }

  input[type="radio"]:hover+.tabs-item{
    color: var(--color-secondary-default);
  }

  input[type="radio"]:checked+.tabs-item {
    background-color: var(--color-secondary-default);
    border-bottom: 1px solid var(--color-secondary-default);
    color: var(--color-white-default);
  }
  
}