@import url(../../config.css);
.btn {
  border-style: var(--bs-solid);
  font-family: var(--ff-default);
  cursor: var(--cursor-pointer);
  box-sizing: border-box;
}
.btn-primary {
  background-color: var(--color-secondary-default);
  color: var(--color-white-default);
}
.btn-primary-hover:hover {
  background-color: var(--color-secondary-darken2);
}
.btn-white {
  background-color: var(--color-white-default);
  color: var(--color-secondary-default);
}
.btn-white-hover:hover {
  background-color: var(--color-secondary-lighten3);
}
.btn-white-active:active {
  background: var(--color-secondary-lighten3);
}
.btn-white-focus:focus {
  box-shadow: var(--shadow-border);
}
.btn-outlined {
  background-color: var(--color-transparent);
  color: var(--color-white-default);
  border-width: var(--bw-3);
  border-color: var(--color-white-default);
}
.btn-outlined-hover:hover {
  background-color: var(--color-secondary-darken2);
}
.btn-outlined-active:active {
  background: var(--color-secondary-darken2);
}
.btn-outlined-focus:focus {
  box-shadow: var(--shadow-border);
}
.btn-info {
  background-color: var(--color-transparent);
  color: var(--color-white-default);
}
.btn-info-hover:hover {
  background-color: var(--color-secondary-darken2);
}
.btn-info-active:active {
  background: var(--color-secondary-darken2);
}
.btn-info-focus:focus {
  box-shadow: var(--shadow-border);
}
.btn-math-clicker {
  background-color: var(--color-white-default);
  color: var(--color-secondary-default);
  border-color: var(--color-secondary-default);
}
.btn-math-clicker-hover:hover {
  background-color: var(--color-secondary-lighten3);
}
.btn-math-clicker-active:active {
  background: var(--color-secondary-lighten3);
}
.btn-math-clicker-focus:focus {
  box-shadow: var(--shadow-border);
}
.btn-carousel-clicker {
  background-color: var(--color-white-default);
  border-radius: var(--br-circle);
}
.btn-xxl {
  padding: var(--p-xxs) var(--p-xxxl);
  line-height: var(--lh-h3);
  font-size: var(--fs-h4);
  font-weight: var(--fw-medium);
}
.btn-xl {
  padding: var(--p-none) var(--p-md);
  line-height: var(--lh-h3);
  font-size: var(--fs-h4);
  font-weight: var(--fw-semi-normal);
}
.btn-lg {
  padding: var(--p-xs) var(--p-lg);
  line-height: var(--lh-h6);
  font-size: var(--fs-h4);
  font-weight: var(--fw-semi-normal);
}
.btn-md {
  padding: var(--p-xs);
  line-height: var(--lh-h6);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
}
.btn-sm {
  padding: var(--p-xs) var(--p-lg);
  line-height: var(--lh-h6);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
}
.btn-xs {
  padding: var(--p-none) var(--p-md);
  line-height: var(--lh-h4);
  font-size: var(--fs-caption1);
  font-weight: var(--fw-normal);
}
.btn-xxs {
  padding: var(--p-sm);
  line-height: var(--lh-h4);
  font-size: var(--fs-caption1);
  font-weight: var(--fw-normal);
}
.btn-circle {
  border-radius: var(--br-circle);
}
.btn-square {
  border-radius: var(--br-7);
}
.btn-rounded-noBorder-md {
  border: none;
  border-radius: var(--br-4);
}
.btn-rounded-noBorder-lg {
  border: none;
  border-radius: var(--br-3);
}
.btn-rounded-bordered-md {
  border-width: var(--bw-3);
  border-radius: var(--br-4);
}
.btn-rounded-bordered-lg {
  border-width: var(--bw-3);
  border-radius: var(--br-3);
}

/*# sourceMappingURL=filename.css.map */
