:root {
    /* padding */
    --p-xxxs: 2;
    --p-xxs: 4;
    --p-xs: 8;
    --p-sm: 12;
    --p-md: 16;
    --p-lg: 24;
    --p-xl: 28;
    --p-xxl: 32; 
    --p-xxxl: 42;

    /* margin */
    --m-xxxs: 2;
    --m-xxs: 4;
    --m-xs: 8;
    --m-sm: 12;
    --m-md: 16;
    --m-lg: 24;
    --m-xl: 28;
    --m-xxl: 32; 
    --m-xxxl: 42;
}