@mixin row-cols($count) {
  > * {
    flex: 0 0 auto;
    width: divide(100%, $count);
  }
}

@mixin make-row {
  display: flex;
  flex-wrap: wrap;
}

@mixin make-container() {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@mixin padding($padding...) {
  padding: $padding;
}

@mixin margin($margin...) {
  margin: $margin;
}
