@import "mixins.scss";
@import "variables.scss";

@for $i from $grid-columns through 1 {
  .col-#{$i} {
    width: $col-width * $i;
  }
}

@each $point, $scree-size in $grid-breakpoints {
  @media screen and (min-width: $scree-size) {
    @for $i from $grid-columns through 1 {
      .col-#{$i}-#{$point} {
        width: $col-width * $i;
      }
    }
  }
}

// Responsive containers that are 100% wide until a breakpoint
@each $breakpoint, $container-max-width in $container-max-widths {
  .container-#{$breakpoint} {
    margin: 0 auto;
    max-width: $container-max-width;
  }
}

.row {
  @include make-row;
}

.col {
  @include make-col-auto;
}
