body {
  font-size: var(--fs-body1);
}

.help {
  svg {
    display: block;
  }
}

a {
  text-decoration: none;
}

.breadcrumb-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  li {
    align-items: center;
    &:last-child {
      a {
        text-decoration: none;
        cursor: default;
      }
    }
    display: flex;
    a {
      text-decoration: none;
    }
  }
}

.breadcrumb-icon {
  padding-top: 3px;
  display: inline-block;
  height: 14px;
  width: 16px;
  vertical-align: middle;
  text-align: end;
}

.searchbox-row {
  margin-top: 4px;
  display: flex;
  flex-direction: column;
  input {
    box-sizing: border-box;
    width: 100%;
  }
}

.searchbox {
  box-sizing: border-box;
  background: var(--color-warning-default);
}

.searchbox-title {
  margin: 0;
}

.searchbox-title-text {
  font-size: var(--fs-h6);
}

.picture-col {
  flex-grow: 1;
}

.text-col {
  flex-grow: 3;
}

.review-col {
  flex-grow: 1;
  justify-self: flex-end;
}

.search-item {
  box-sizing: border-box;
  border: 0.5px solid var(--color-gray-darken1);
  display: flex;
  flex-wrap: wrap;
}

.traveling-row {
  display: flex;
  max-height: 18px;
}

.btn-xxl {
  padding: 12px;
  font-size: var(--fs-subtitle2);
  font-weight: var(--fw-normal);
}

.traveling-for-work-input {
  display: flex;
  max-height: 18px;
  width: 90%;
  justify-content: flex-start;
  input {
    max-width: 14px;
  }
  label {
    display: block;
    width: 100%;
    min-width: 30px;
  }
}

.first-search-item {
  border-color: var(--color-secondary-lighten1);
  box-shadow: 0 0 10px var(--color-secondary-lighten1);
  background: var(--color-secondary-lighten3);
}

.item-text {
  margin: 0 16px;
}

.star-svg {
  width: 12px;
  height: 12px;
  fill: var(--color-warning-default);
}

.hotel-like-svg {
  width: 20px;
  height: 20px;
  fill: var(--color-warning-default);
}

.item-breadcrumbs-list {
  padding: 0;
  display: flex;
  list-style: none;
}

.item-breadcrumbs-item {
  a {
    text-decoration: underline;
  }
}

.list-separator {
  margin: 0 2px;
  color: var(--color-gray-darken1);
}

.item-image {
  min-width: 200px;
  max-height: 200px;
}

.review-score-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.badge-score {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.location-score {
  margin-top: 2px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media screen and (max-width: 720px) {
  .side-bar {
    display: none;
  }
  .items-part {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .rows-wrapper {
    display: block;
  }
  .item-image {
    min-height: 100px;
    min-width: 100px;
  }
  .badge-review-lg {
    margin-left: 6px;
  }
}

@media screen and (max-width: 500px) {
  .search-item {
    .row {
      flex-wrap: wrap;
    }
  }
  .item-image {
    display: none;
  }
}

.location-text {
  font-size: var(--fs-body4);
}

.date-field {
  width: 100%;
}

.show-prices-button {
  margin-top: 4px;
  display: flex;
  justify-content: flex-end;
}

.date-checker-text {
  font-size: var(--fs-body4);
}

.title {
  box-sizing: border-box;
  display: flex;
}

.show-on-map-image {
  max-width: 160px;
  max-height: 72px;
  cursor: pointer;
}

.sort-bar {
  display: flex;
  max-width: 100%;
}

.sort-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bw-1) var(--bs-solid) var(--color-secondary-default);
  flex-grow: 1;
}

.not-active-item:hover {
  background: var(--color-secondary-lighten2);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: var(--bw-4) var(--bs-solid) var(--color-gray-darken1);
}

.pagination-list {
  list-style: none;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0;
}

.pagination-arrow {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
}

.pagination {
  border: var(--bw-1) var(--bs-solid) var(--color-gray-default);
  &-wrapper {
    display: flex;
  }
  max-height: 44px;
}

.pagination-item {
  &-selected {
    button {
      background-color: transparent;
      border: var(--bw-1) var(--bs-solid) var(--color-gray-default);
    }
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border: var(--bw-1) var(--bs-solid) transparent;
  }
  button:hover {
    color: var(--color-white-default);
    background-color: var(--color-secondary-default);
  }
  svg:hover {
    fill: var(--color-white-default);
    background-color: var(--color-secondary-default);
  }
}

.label {
  color: var(--color-warning-default);
  background: var(--color-warning-default);
}

.pagination-item-inactive {
  a {
    color: var(--color-gray-darken1);
    cursor: not-allowed;
    svg {
      fill: var(--color-gray-darken2);
    }
  }
}

.help-svg-block {
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    height: 16px;
    width: 16px;
  }
}

.filter-box {
  border-radius: var(--br-3);
  border: var(--bw-4) var(--bs-solid) var(--color-gray-default);
}

.filter-part {
  border: var(--bw-1) var(--bs-solid) var(--color-gray-default);
  border-bottom: var(--bw-1) var(--bs-solid) var(--color-gray-lighten1);
}

.filter-title {
  font-weight: var(--fw-bold);
}

.filter-part-title {
  display: block;

  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
}
.filter-item {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  div {
    input {
      min-width: 20px;
      min-height: 20px;
    }
    label {
      font-weight: var(--fw-normal);
    }
  }
}

.checkbox-container {
  display: flex;
  align-items: center;
  flex-grow: 4;
  justify-content: flex-start;
  input {
    padding: 0;
    margin: 0;
    max-width: 20px;
  }
}

.filter-value {
  display: flex;
  justify-content: flex-end;
}

.row {
  flex-wrap: nowrap;
}
