@import url("../../config.css");

.card {
  &-img {
    max-width: 100%;
  }
  &-body {
    padding: var(--p-sm);
  }
  &-lg {
    padding: var(--p-md);
  }
  &-md {
    padding: var(--p-sm);
  }
  &-sm {
    padding: var(--p-xs);
  }
}
