@import url(../../config.css);
<<<<<<< HEAD

=======
>>>>>>> main
.h1 {
  font-size: var(--fs-h1);
  line-height: var(--lh-body3);
}

.h2 {
  font-size: var(--fs-h2);
  line-height: var(--lh-h1);
}

.h3 {
  font-size: var(--fs-body1);
  line-height: var(--lh-body2);
}

.h4 {
  font-size: var(--fs-body4);
  line-height: var(--lh-h3);
}

.tab-item {
  font-size: var(--fs-caption1);
  line-height: var(--lh-h2);
}

body {
  font-family: var(--ff-default);
  font-size: var(--fs-body2);
}

.caption {
  font-size: var(--fs-caption2);
  line-height: var(--lh-body1);
}
