@import url(../../config.css);

.logo {
  width: 144px;
  height: 24px;
  font-size: var(--fs-caption1);
  line-height: var(--lh-body1);
}

@media only screen and (max-width: 990px) {
  .logo {
    height: 20px;
  }
}

.logo-palette {
  background-color: var(--color-primary-default);
  margin-bottom: 20px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid var(--color-black-default); // reference to variable
  width: 250px;
  height: 32px;
}
