@import url(../../config.css);
@import url(../root.scss);
@import url(../../fonts/fontawesome/css/all.css);

.align-flex{
    display: flex;
    align-items: center;
    
}
button[name="info1"]{
    font-weight: var(--fw-medium)!important;
    font-size: var(--fs-h5);
}
.flag{
    width: 24px;
    height: 24px;  
}
.info-icon{
    color: var(--color-black-default);
    
}