// padding
.p-none{
    padding: 0;
}

.p-xxxs {
    padding: 2px;
}
.p-xxs {
    padding: 4px;
}
.p-xs {
    padding: 8px;
}
.p-sm {
    padding: 12px;
}
.p-md {
    padding: 16px;
}
.p-lg {
    padding: 24px;
}
.p-xl {
    padding: 28px;
}
.p-xxl {
    padding: 32px;
}
.p-xxxl {
    padding: 42px;
}

// padding top
.pt-xxxs {
    padding-top: 2px;
}
.pt-xxs {
    padding-top: 4px;
}
.pt-xs {
    padding-top: 8px;
}
.pt-sm {
    padding-top: 12px;
}
.pt-md {
    padding-top: 16px;
}
.pt-lg {
    padding-top: 24px;
}
.pt-xl {
    padding-top: 28px;
}
.pt-xxl {
    padding-top: 32px;
}
.pt-xxxl {
    padding-top: 42px;
}

// padding right
.pr-xxxs {
    padding-right: 2px;
}
.pr-xxs {
    padding-right: 4px;
}
.pr-xs {
    padding-right: 8px;
}
.pr-sm {
    padding-right: 12px;
}
.pr-md {
    padding-right: 16px;
}
.pr-lg {
    padding-right: 24px;
}
.pr-xl {
    padding-right: 28px;
}
.pr-xxl {
    padding-right: 32px;
}
.pr-xxxl {
    padding-right: 42px;
}

// padding bottom
.pb-xxxs {
    padding-bottom: 2px;
}
.pb-xxs {
    padding-bottom: 4px;
}
.pb-xs {
    padding-bottom: 8px;
}
.pb-sm {
    padding-bottom: 12px;
}
.pb-md {
    padding-bottom: 16px;
}
.pb-lg {
    padding-bottom: 24px;
}
.pb-xl {
    padding-bottom: 28px;
}
.pb-xxl {
    padding-bottom: 32px;
}
.pb-xxxl {
    padding-bottom: 42px;
}

// padding left
.pl-xxxs {
    padding-left: 2px;
}
.pl-xxs {
    padding-left: 4px;
}
.pl-xs {
    padding-left: 8px;
}
.pl-sm {
    padding-left: 12px;
}
.pl-md {
    padding-left: 16px;
}
.pl-lg {
    padding-left: 24px;
}
.pl-xl {
    padding-left: 28px;
}
.pl-xxl {
    padding-left: 32px;
}
.pl-xxxl {
    padding-left: 42px;
}

// padding x
.px-xxxs {
    padding-left: 2px;
    padding-right: 2px;
}
.px-xxs {
    padding-left: 4px;
    padding-right: 4px;
}
.px-xs {
    padding-left: 8px;
    padding-right: 8px;
}
.px-sm {
    padding-left: 12px;
    padding-right: 12px;
}
.px-md {
    padding-left: 16px;
    padding-right: 16px;
}
.px-lg {
    padding-left: 24px;
    padding-right: 24px;
}
.px-xl {
    padding-left: 28px;
    padding-right: 28px;
}
.px-xxl {
    padding-left: 32px;
    padding-right: 32px;
}
.px-xxxl {
    padding-left: 42px;
    padding-right: 42px;
}

// padding y
.py-xxxs {
    padding-top: 2px;
    padding-bottom: 2px;
}
.py-xxs {
    padding-top: 4px;
    padding-bottom: 4px;
}
.py-xs {
    padding-top: 8px;
    padding-bottom: 8px;
}
.py-sm {
    padding-top: 12px;
    padding-bottom: 12px;
}
.py-md {
    padding-top: 16px;
    padding-bottom: 16px;
}
.py-lg {
    padding-top: 24px;
    padding-bottom: 24px;
}
.py-xl {
    padding-top: 28px;
    padding-bottom: 28px;
}
.py-xxl {
    padding-top: 32px;
    padding-bottom: 32px;
}
.py-xxxl {
    padding-top: 42px;
    padding-bottom: 42px;
}




// margin
.m-none{
    margin: 0;
}
.m-xxxs {
    margin: 2px;
}
.m-xxs {
    margin: 4px;
}
.m-xs {
    margin: 8px;
}
.m-sm {
    margin: 12px;
}
.m-md {
    margin: 16px;
}
.m-lg {
    margin: 24px;
}
.m-xl {
    margin: 28px;
}
.m-xxl {
    margin: 32px;
}
.m-xxxl {
    margin: 42px;
}

// margin top
.mt-xxxs {
    margin-top: 2px;
}
.mt-xxs {
    margin-top: 4px;
}
.mt-xs {
    margin-top: 8px;
}
.mt-sm {
    margin-top: 12px;
}
.mt-md {
    margin-top: 16px;
}
.mt-lg {
    margin-top: 24px;
}
.mt-xl {
    margin-top: 28px;
}
.mt-xxl {
    margin-top: 32px;
}
.mt-xxxl {
    margin-top: 42px;
}

// margin right
.mr-xxxs {
    margin-right: 2px;
}
.mr-xxs {
    margin-right: 4px;
}
.mr-xs {
    margin-right: 8px;
}
.mr-sm {
    margin-right: 12px;
}
.mr-md {
    margin-right: 16px;
}
.mr-lg {
    margin-right: 24px;
}
.mr-xl {
    margin-right: 28px;
}
.mr-xxl {
    margin-right: 32px;
}
.mr-xxxl {
    margin-right: 42px;
}

// margin bottom
.mb-xxxs {
    margin-bottom: 2px;
}
.mb-xxs {
    margin-bottom: 4px;
}
.mb-xs {
    margin-bottom: 8px;
}
.mb-sm {
    margin-bottom: 12px;
}
.mb-md {
    margin-bottom: 16px;
}
.mb-lg {
    margin-bottom: 24px;
}
.mb-xl {
    margin-bottom: 28px;
}
.mb-xxl {
    margin-bottom: 32px;
}
.mb-xxxl {
    margin-bottom: 42px;
}

// margin left
.ml-xxxs {
    margin-left: 2px;
}
.ml-xxs {
    margin-left: 4px;
}
.ml-xs {
    margin-left: 8px;
}
.ml-sm {
    margin-left: 12px;
}
.ml-md {
    margin-left: 16px;
}
.ml-lg {
    margin-left: 24px;
}
.ml-xl {
    margin-left: 28px;
}
.ml-xxl {
    margin-left: 32px;
}
.ml-xxxl {
    margin-left: 42px;
}

// margin x
.my-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
.mx-xxxs {
    margin-left: 2px;
    margin-right: 2px;
}
.mx-xxs {
    margin-left: 4px;
    margin-right: 4px;
}
.mx-xs {
    margin-left: 8px;
    margin-right: 8px;
}
.mx-sm {
    margin-left: 12px;
    margin-right: 12px;
}
.mx-md {
    margin-left: 16px;
    margin-right: 16px;
}
.mx-lg {
    margin-left: 24px;
    margin-right: 24px;
}
.mx-xl {
    margin-left: 28px;
    margin-right: 28px;
}
.mx-xxl {
    margin-left: 32px;
    margin-right: 32px;
}
.mx-xxxl {
    margin-left: 42px;
    margin-right: 42px;
}

// margin y
.my-xxxs {
    margin-top: 2px;
    margin-bottom: 2px;
}
.my-xxs {
    margin-top: 4px;
    margin-bottom: 4px;
}
.my-xs {
    margin-top: 8px;
    margin-bottom: 8px;
}
.my-sm {
    margin-top: 12px;
    margin-bottom: 12px;
}
.my-md {
    margin-top: 16px;
    margin-bottom: 16px;
}
.my-lg {
    margin-top: 24px;
    margin-bottom: 24px;
}
.my-xl {
    margin-top: 28px;
    margin-bottom: 28px;
}
.my-xxl {
    margin-top: 32px;
    margin-bottom: 32px;
}
.my-xxxl {
    margin-top: 42px;
    margin-bottom: 42px;
}