$spacers: ( 
    none: 0px, 
    xxxs: 2px, 
    xxs: 4px, 
    xs: 8px, 
    sm: 12px, 
    md: 16px, 
    lg: 24px, 
    xl: 28px, 
    xxl: 32px, 
    xxxl: 42px, 
    );
//padding
.p {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding: $value;
        }
    }
}

.pt {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-top: $value;
        }
    }
}

.pr {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-right: $value;
        }
    }
}

.pl {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-left: $value;
        }
    }
}

.pb {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-bottom: $value;
        }
    }
}


.px {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-left: $value;
            padding-right: $value;
        }
    }
}

.py {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            padding-top: $value;
            padding-bottom: $value;
        }
    }
}


        //margin
.m {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin: $value;
        }
    }
}

.mt {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-top: $value;
        }
    }
}

.mr {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-right: $value;
        }
    }
}

.ml {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-left: $value;
        }
    }
}

.mb {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-bottom: $value;
        }
    }
}

.mx {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-left: $value;
            margin-right: $value;
        }
    }
}

.my {
    @each $size,
    $value in $spacers {
        &-#{$size} {
            margin-top: $value;
            margin-bottom: $value;
        }
    }
}
