header {
  padding-top: 16px;
}
.breadcrumb-list {
  list-style: none;
  display: flex;
  li {
    display: flex;
    a {
      text-decoration: none;
    }
  }
}

.breadcrumb-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}
