@import url(../root.scss);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.border-warning{
    border: var(--bw-1) var(--bs-solid) var(--color-warning-lighten1);
    border-radius: var(--br-2);
}



.input-radio-xl{
    width: 20px;
    height: 20px;
}
/*footer*/

  
  
.img-footer {
    height: auto;
    width: auto;  
  }




  @media (max-width:992px) {
      .container-xl  {
         padding: var(--p-sm);
         max-width: 992px;
      }
      .no-wrap{
          flex-wrap: nowrap;         
      }
      .text-center{
          text-align: center;
      }
      .container-sm{
        padding: var(--p-sm);
      }
  }


  