@import "../offsets/offsets.scss";
@import "../../config.css";
@import "../grid/style.scss";
@import "../inputs/input";
body{
  margin: 0;
  font-family: var(--ff-default);

}


:root{
  --color-primary-darken2: rgba(5,55,126, 1);
  --color-primary-t1-darken2: rgba(5,55,126, 0.7);
}

.container-xl{
  height: 100%;
}

.book-taxis-bg{
  color: var(--color-white-default);
  background-image: linear-gradient(rgba(5,55,126, 0.7), rgba(5,55,126, 0.7)) ,url("../../src/img/background/book-taxis.webp");
  height: 450px;
}

.align-items{
  display: flex;
  align-items: center;
  height: inherit;
}

.width-full{
  width: 100%;
}

.book-taxis-title{
  font-size: 32px;
  font-weight: var(--fw-semi-Bold);
}