@import url(../../scss/config.css);
/*
.align{
    font-weight: var(--fw-medium)!important;
    font-size: var(--fs-h5);
}
.flag{
    width: 24px;
    height: 24px;  
}
.image-1 {
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    text-align:left;
}
.heading-2{
    margin: var(--m-xs) 0px;
    padding-top: 1.5em;
}
.car{
    color: rgb(88, 88, 88);
    display: flex;
    align-items: center;
}
.frame-2{
    border: 1px solid #e7e7e7;
    margin-right: var(--m-xxl);
}
.frame-1{
    border: var(--bw-3) solid var(--color-warning-lighten1);
}
.icon{
    display: flex;
    justify-content: flex-start;
}
.title-main{
    color: var(--color-black-default);
}
.list-icon{
    color: var(--color-warning-lighten1);
    display: flex;
    align-items: center;
}
.title-3{
    display: inline-block;
}
ul li{
    margin-left: var(--m-md);
}
summary {display: block;};
::-webkit-details-marker {display: none;};

summary{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.arrow{
    align-self :center;
    
}
.summary-hover:hover{
    background-color: rgb(236, 236, 236);
}
.text-orange-hover:hover{
    color: var(--color-warning-default);
}
.image-3{
    width: 100%;
    height: 100%;
    flex-shrink: 0;

}
.overlay {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 12%, #000 97%);
    Black see-through 
    width: 100%;
    left: 0;
    bottom: 0;}*/


    /*CORONOVIRUS_INFO START*/
    body{
        margin: var(--m-none);
    }
.row{
    display: flex;
}
.coronovirus-unit{
    background-color: var(--color-danger-lighten1);
    border: var(--bw-1) solid var(--color-warning-lighten1);
    width:100%;
    height:100%;
    box-sizing: border-box;
}
.textarea-1{
    font-size: var(--fs-subtitle2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-h6);
    margin-bottom: var(--m-sm);
    box-sizing: border-box;
    color: var(--color-gray-darken7);
}
.textarea-2{
    font-size: var(--fs-body1);
    font-weight: var(--fw-normal);
    line-height: var(--lh-subtitle1);
    margin: 0px 0px var(--m-md) 0px;
    box-sizing: border-box;
}
/*.link{
    font-weight: var(--fw-bold);
    font-size: var(--fs-body1);
}*/
.align-1{
    justify-content: flex-start;
}
    /*CORONOVIRUS_INFO END*/
.heading-1{
    padding-top: var(--p-lg);
    margin-bottom: var(--m-paired-sm);
    font-size: var(--fs-h4);
    line-height: var(--lh-h2);
    font-weight: var(--fw-semi-bold);
    color: var(--color-gray-darken7);
}
.sb-align{
    justify-content: space-between;
    & img{
        width:auto;
    }
}
.heading-small{
    font-size: var(--fs-subtitle2);
    line-height: var(--lh-h6);
    font-weight: var(--fw-bold);
    color: var(--color-gray-darken7);
}
.heading-gray{
    font-size: var(--fs-body1);
    line-height: var(--lh-subtitle1);
    font-weight: var(--fw-normal);
    color: var(--color-gray-darken6);
}
.car-icon{
    display: flex;
    color: var(--color-gray-darken6);
    font-size: var(--fs-h1);    
}
.align-2{
    display: flex;
    justify-content: space-between;
}
.text-sm{
    color: var(--color-gray-lighten8);
    font-size: var(--fs-body1);
}
.text-xs{
    color: var(--color-gray-darken6);
    font-size: var(--fs-body2);
}
/*.link-2{
    color: var(--color-gray-darken6);
    font-weight: var(--fw-normal);
    font-size: var(--fs-body1);
}*/

/*Worlds biggest STSART*/

.frame-1{
    border: var(--bw-1) solid var(--color-gray-lighten1);
    box-sizing: border-box;
}
.image{
    width: 100%;
}
.list-icon{
    color: var(--color-warning-lighten1);
    display: flex;
    align-items: center;
}
.heading-2{
    font-size: var(--fs-h4);
    line-height: var(--lh-h2);
    font-weight: var(--fw-semi-bold);
}
.heading-3{
    font-size: var(--fs-body1);
    line-height: var(--lh-subtitle1);
    font-weight: var(--fw-normal);
}
/*Questions START*/
.heading-4{
    display: block;
    margin: 0 0 var(--m-md) 0;
    padding-top: var(--p-xs);
    font-size: var(--fs-h4);
    line-height: var(--lh-h6);
    font-weight: var(--fw-semi-bold);
    align-self:flex-start;
}
ul li{
    margin-left: var(--m-md);
    margin-bottom: var(--m-sm)
}
summary {display: block;};
::-webkit-details-marker {display: none;};
summary{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.arrow{
    align-self :center;
    
}
.summary-hover:hover{
    background-color: rgb(236, 236, 236);
}
.accordion{
    padding: var(--p-md);
}
.right-border{
    border-right: 1px solid var(--color-gray-lighten1);
}
.bottom-border{
    border-bottom: 1px solid var(--color-gray-lighten1);
}
.background-size{
    max-width: 100%;
    height: 100%;
    background-color: var(--color-danger-lighten2);
}
/*Image-2 START*/
.heading-5{
    padding-top: var(--p-lg);
    margin-bottom: var(--m-paired-sm);
    font-size: var(--fs-h4);
    line-height: var(--lh-h2);
    font-weight: var(--fw-semi-bold);
    color: var(--color-gray-darken7);
}
.image-3{
    width: 100%;
    height: auto;
    box-sizing: border-box;

}
.overlay {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0.00) 12%, #000 97%);
    /* Black see-through */
    width: 100%;
    left: 0;
    bottom: 0;
} 
.text-orange-hover:hover{
    color: var(--color-warning-default);
}
.input-grey-link{
    color: var(--color-gray-darken6);
    font-size: var(--fs-body1);
    font-weight: var(--fw-normal);
    line-height: var(--lh-body4);
    text-decoration: none;
    &:hover {
      color: var(--color-brown-default);
    }
  }
  .img-3{
      width: 100%;
      height: 100%;
  }