@import "../../config.css";
@import "../offsets/offsets.scss";
@import "../../fonts/fontawesome/css/all.css";

html{
  box-sizing: border-box;
  font-family: var(--ff-default);
}




input{
  margin-bottom: 20px;
}


/* Airport axis */
.input-xxxl{
  font-family: inherit;
  font-size: var(--fs-h4);
  align-items: center;
  border: var(--bw-3) var(--bs-solid) var(--color-transparent);
  border-radius: var(--br-4);
  line-height: var(--lh-h2);
  padding: var(--p-sm) var(--p-md) var(--p-sm) var(--p-xxxxl);
  width: 90%;
}

.input-xxxl:hover, .input-xxxl:focus, {
  outline: none;
  border-color: var(--color-brown-lighten1);
}

.input-xxxl[type="text"]::-moz-placeholder {
  color: var(--color-gray-darken6);
  opacity: 1;
  font-weight: var(--fw-bold);
}

.fw-normal-place[type="text"]::-moz-placeholder{
  font-weight: var(--fw-normal);
  color: var(--color-gray-darken3);
}

/* ---------------- */


/* Main page */
.input-xxl{
  font-family: inherit;
  font-size: var(--fs-h4);
  line-height: var(--lh-h4);
  align-items: center;
  border: var(--bw-3) var(--bs-solid) var(--color-transparent);
  border-radius: var(--br-3);
  padding: var(--p-input-xs) var(--p-md) var(--p-input-xs) var(--p-xxxxl);
  width: 90%;
}

.input-xxl:hover, .input-xxl:focus, {
  outline: none;
  border-color: var(--color-brown-lighten1);
}

.input-xxl[type="text"]::-moz-placeholder {
  color: var(--color-gray-darken6); /* Цвет подсказывающего текста */
  opacity: 1;
  font-weight: var(--fw-thin);
}

.input-calendar-icon-xxl{
  background-position: 15px;
  background-image: url('../../src/img/ico/calendar1-xxl.svg');
  background-repeat: no-repeat;
}

.input-user-counter-xxl{
    background-image: url('../../src/img/ico/user-xxl.svg'), url("../../src/img/ico/arrows.svg");
    background-position: top 50% left 16px, top 50% right 16px;
    background-repeat: no-repeat;
}


/* ------------------------- */

.date-field{
  font-family: inherit;
  font-weight: var(--fw-medium);
  font-size: var(--fs-h4);
  //border: var(--bw-3) var(--bs-solid) var(--color-transparent);
  border: var(--b-none);
  line-height: var(--lh-h1);
  padding: var(--p-xxxs) var(--p-lg) var(--p-xxxs) var(--p-xxxl);
  width: 90%;
}

.date-field:hover, .date-field:focus{
  outline: none;
}

.date-field[type="text"]::-moz-placeholder{
  opacity: 1;
  font-weight: var(--fw-thin);
}




/* Availability */

.date-checker{
  display: flex;
  font-family: inherit;
  font-weight: var(--fw-normal);
  font-size: var(--fs-h4);
  border: var(--bw-3) var(--bs-solid) var(--color-gray-default);
  border-radius: var(--br-3);
  padding: var(--p-xs);
  line-height: var(--lh-h6);
  width: 90%;
}



/* Airoport taxis search inputs */


.input-location-icon {
  background-image: url('../../src/img/ico/pin.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-datepicker-icon{
  background-image: url('../../src/img/ico/calendar3.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-clock-icon{
  background-image: url('../../src/img/ico/clock.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-user-icon-counter{
  background-image: url('../../src/img/ico/user.svg'), url("../../src/img/ico/arrows.svg");
  background-position: top 50% left 16px, top 50% right 16px;
  background-repeat: no-repeat;
}

.input-flight-icon-xxxl{
  background-image: url('../../src/img/ico/flight-xxxl.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-calendar-xxxl{
  background-image: url('../../src/img/ico/calendar-xxxl.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-calendar1-xxl{
  background-image: url('../../src/img/ico/calendar-xxl.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.input-car-xxl{
  background-image: url('../../src/img/ico/car-xxl.svg');
  background-position: top 50% left 16px;
  background-repeat: no-repeat;
}

.search-input:hover, .search-input:focus{
  outline: none;
  border-color: var(--color-brown-lighten1);
}





.color-secondary-default-hov:hover{
  color: var(--color-secondary-default);
}

.border-none:focus, .border-none:active, .border-none:hover{
  border-color: transparent;
  outline: none;
}

.flex-grow1{
  flex-grow: 1;
}

.align-items{
  align-items: var(--ai-center);
}

.bc-secondary-default-hov:hover{
  border-color: var(--color-secondary-default);
}


.bc-secondary-default-hov:hover .fill-color-secondary-default-hov{
  fill: var(--color-secondary-default);
}

.bc-secondary-default-hov:hover .color-secondary-default-hov{
  color: var(--color-secondary-default);
}

