@import url(../scss/config.css);
@import url(../scss/root.scss);
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.wraper {
    display: flex;
}

.wraper-space-between {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    flex-grow: 1;
}

.navigation {
    height: 420px;
    width: 350px;
    margin-right: 30px;
    padding: 20px;
    position: sticky;
    top: 40px;
    border: 1px solid #333;
    border-radius: 4px;
    font-family: var(--ff-default);
    font-size: var(--fs-body1);
    text-align: left;
    .text-decoration-list {
        list-style-type: none;
    }
    li {
        padding: var(--p-xxxxs);
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #fff;
    color: #333;
    font-weight: 100;
}

header {
    padding: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333;
}

h1 {
    font-size: 32px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    background: #eee;
}

hr {
    margin: 20px 0;
    width: 100%;
}

.up {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: fixed;
    top: 90%;
    left: 95%;
    background: white;
    text-align: center;
}

.up a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 50px;
}

.up a:hover {
    background: none;
}

.subsection {
    margin-bottom: 15px;
}


/* COLORS */

.color-palete {
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.color {
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.bg-color-primary-default {
    background: var(--color-primary-default);
}

.bg-color-primary-darken1 {
    background: var(--color-primary-darken1);
}

.bg-color-secondary-lighten3 {
    background: var(--color-secondary-lighten3);
}

.bg-color-secondary-lighten2 {
    background: var(--color-secondary-lighten2);
}

.bg-color-secondary-lighten1 {
    background: var(--color-secondary-lighten1);
}

.bg-color-secondary-default {
    background: var(--color-secondary-default);
}

.bg-color-secondary-darken1 {
    background: var(--color-secondary-darken1);
}

.bg-color-secondary-darken2 {
    background: var(--color-secondary-darken2);
}

.bg-color-secondary-t1-default {
    background: var(--color-secondary-t1-default);
}

.bg-color-success-lighten1 {
    background: var(--color-success-lighten1);
}

.bg-color-success-default {
    background: var(--color-success-default);
}

.bg-color-danger-lighten2 {
    background: var(--color-danger-lighten2);
}

.bg-color-danger-lighten1 {
    background: var(--color-danger-lighten1);
}

.bg-color-danger-default {
    background: var(--color-danger-default);
}

.bg-color-danger-darken1 {
    background: var(--color-danger-darken1);
}

.bg-color-brown-lighten2 {
    background: var(--color-brown-lighten2);
}

.bg-color-brown-lighten1 {
    background: var(--color-brown-lighten1);
}

.bg-color-brown-default {
    background: var(--color-brown-default);
}

.bg-color-brown-darken1 {
    background: var(--color-brown-darken1);
}

.bg-color-warning-default {
    background: var(--color-warning-default);
}

.bg-color-warning-lighten1 {
    background: var(--color-warning-lighten1);
}

.bg-color-gray-default {
    background: var(--color-gray-default);
}

.bg-coloe-gray-darken1 {
    background: var(--coloe-gray-darken1);
}

.bg-color-gray-darken2 {
    background: var(--color-gray-darken2);
}

.bg-color-gray-darken3 {
    background: var(--color-gray-darken3);
}

.bg-color-gray-darken4 {
    background: var(--color-gray-darken4);
}

.bg-color-gray-darken5 {
    background: var(--color-gray-darken5);
}

.bg-color-gray-darken6 {
    background: var(--color-gray-darken6);
}

.bg-color-white-default {
    background: var(--color-white-default);
}

.bg-color-white-t1-default {
    background: var(--color-white-t1-default);
}

.bg-color-white-t2-default {
    background: var(--color-white-t2-default);
}

.bg-color-white-t3-default {
    background: var(--color-white-t3-default);
}

.bg-color-black-default {
    background: var(--color-black-default);
}

.bg-color-black-t1-default {
    background: var(--color-black-t1-default);
}


/* Border */

.border {
    height: 40px;
    line-height: 32px;
    text-align: center;
}

.border-palete {
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.border-show {
    margin: 5px;
    border: 1px solid red;
}

.br-1 {
    border-radius: var(--br-1);
}

.br-2 {
    border-radius: var(--br-2);
}

.br-3 {
    border-radius: var(--br-3);
}

.br-4 {
    border-radius: var(--br-4);
}

.br-5 {
    border-radius: var(--br-5);
}

.br-6 {
    border-radius: var(--br-6);
}

.bw-1 {
    border-width: var(--bw-1);
}

.bw-2 {
    border-width: var(--bw-2);
}

.bw-3 {
    border-width: var(--bw-3);
}

.bs-solid {
    border-style: solid;
}


/* Font */

.font {
    height: 40px;
    line-height: 32px;
    text-align: center;
}

.font-palete {
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.ff-default {
    font-family: var(--ff-default);
}

.fs-h1 {
    font-size: var(--fs-h1);
}

.fs-h2 {
    font-size: var(--fs-h2);
}

.fs-h3 {
    font-size: var(--fs-h3);
}

.fs-h4 {
    font-size: var(--fs-h4);
}

.fs-body1 {
    font-size: var(--fs-body1);
}

.fs-body2 {
    font-size: var(--fs-body2);
}

.fs-caption1 {
    font-size: var(--fs-caption1);
}

.fs-caption2 {
    font-size: var(--fs-caption2);
}

.fw-thin {
    font-weight: var(--fw-thin);
}

.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-Bold {
    font-weight: var(--fw-semi-Bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}


/* Line-height */

.line-height {
    height: 40px;
    line-height: 32px;
    text-align: center;
}

.line-height-palete {
    min-width: 250px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.lh-h1 {
    line-height: var(--lh-h1);
}

.lh-h2 {
    line-height: var(--lh-h2);
}

.lh-h3 {
    line-height: var(--lh-h3);
}

.lh-h4 {
    line-height: var(--lh-h4);
}

.lh-body1 {
    line-height: var(--lh-body1);
}

.lh-body2 {
    line-height: var(--lh-body2);
}

.text-white-background {
    color: var(--color-white-default);
}


/* Border for logo */

.logo-palette {
    min-width: 250px;
    min-height: 32px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.image-palette {
    min-width: 250px;
    min-height: 32px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.header-logo {
    box-sizing: border-box;
    display: block;
    font-family: var(--ff-default);
    font-size: var(--fs-caption1);
    font-weight: var(--fw-normal);
    line-height: var(--lh-body3);
    -webkit-box-direction: normal;
}

.logo-bg {
    background-color: var(--color-primary-default);
}

.logo {
    text-align: center;
    width: 144px;
    height: 24px;
    display: block;
    font-size: var(--fs-caption1);
    line-height: var(--lh-body1);
    max-height: 256px;
    max-width: 256px;
    vertical-align: middle;
    -webkit-box-direction: normal;
}

@media only screen and (max-width: 990px) {
    .logo {
        height: 20px;
    }
}


/* Badge */

.border-palete {
    min-width: 250px;
    min-height: 32px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #333;
}

.bade-space-between {
    margin: 5px
}