@import url(../../config.css);
.btn {
    border-style: var(--bs-solid);
    font-family: var(--ff-default);
    cursor: var(--cursor-pointer);
    box-sizing: border-box;
    &-primary {
        background-color: var(--color-secondary-default);
        color: var(--color-white-default);
        &-hover:hover{
            background-color: var(--color-secondary-darken2);
        }
    }
    &-white {
        background-color: var(--color-white-default);
        color: var(--color-secondary-default);
        &-hover:hover{
            background-color: var(--color-secondary-lighten3);
        }
        &-active:active {
            background: var(--color-secondary-lighten3);
        }
        &-focus:focus {
            box-shadow: var(--shadow-border);
        }
    }
    &-outlined {
        background-color: var(--color-transparent);
        color: var(--color-white-default);
        border-width: var(--bw-3);
        border-color: var(--color-white-default);
        &-hover:hover{
            background-color: var(--color-secondary-darken2);
        }
        &-active:active {
            background: var(--color-secondary-darken2);
        }
        &-focus:focus {
            box-shadow: var(--shadow-border);
        }
    }
    &-info {
        background-color: var(--color-transparent);
        color: var(--color-white-default);
        &-hover:hover{
            background-color: var(--color-secondary-darken2);
        }
        &-active:active {
            background: var(--color-secondary-darken2);
        }
        &-focus:focus {
            box-shadow: var(--shadow-border);
        }
    }
    &-math-clicker {
        background-color: var(--color-white-default);
        color: var(--color-secondary-default);
        border-color: var(--color-secondary-default);
        &-hover:hover{
            background-color: var(--color-secondary-lighten3);
        }
        &-active:active {
            background: var(--color-secondary-lighten3);
        }
        &-focus:focus {
            box-shadow: var(--shadow-border);
        }
    }
    &-carousel-clicker{
        background-color: var(--color-white-default);
        border-radius: var(--br-circle);
    }
    $paddings: (
        padding-xxl: var(--p-none), //: 0px;
        padding-xl: var(--p-xxxs),  //: 4px;
        padding-lg: var(--p-xxs),   //: 5px;
        padding-md: var(--p-xs),    //: 8px;
        padding-sm: var(--p-sm),    //: 12px;
        padding-xs: var(--p-md),    //: 15px
        padding-xxs: var(--p-lg)    //: 16px;
    );
    $line-height: (
        lh-lg: var(--lh-h3),
        lh-md: var(--lh-h4),
        lh-sm: var(--lh-h6)
    );
    $font-size: (
        fs-lg: var(--fs-caption1),  //13
        fs-md: var(--fs-body),      //14
        fs-sm: var(--fs-h4)         //20
    );
    $font-weight: (
        fw-md: var(--fw-medium),  //500
        fw-sm: var(--fw-normal),      //400
        fw-xs: var(--fs-h4)         //20
    );


}






